.projectform {
  padding: 10px;
}

label .required {
  visibility: hidden;
}

label .required:after {
  display: inline;
  content: '(required)';
  visibility: visible;
  color: dimgrey;
}

#root_metabolomics_project__title, .control-label[for=root_metabolomics_project] {
  display: none;
}
