.projectform {
  padding: 10px;
}

label .required {
  visibility: hidden;
}

label .required:after {
  display: inline;
  content: '(required)';
  visibility: visible;
  color: dimgrey;
}

#root_metabolomics_project__title,
.control-label[for=root_metabolomics_project],
.root_genomes > legend,
.root_genome_metabolome_links > legend,
#root__description, #root__title {
  display: none;
}
