{%DOMAIN%}
tls {%TLS_MODE%}

proxy /api api:3001 {
    transparent
    # Disabled healthcheck as Docker will make sure service is running
    # health_check /api/projects
}
proxy / app:80 {
    transparent
    # Disabled healthcheck as Docker will make sure service is running
    # health_check /
}
