
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.

# Put lots of randomness in these
SHARED_TOKEN=ashdfjhasdlkjfhalksdjhflak
DATADIR=./data
PORT=3001
REDIS_URL=redis://127.0.0.1:6379
ELASTICSEARCH_URL=http://localhost:9200
# Zenodo access token. During token generation check the `deposit:actions` and `deposit:write` scopes.
# Generate at https://zenodo.org/account/settings/applications/tokens/new/
ZENODO_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxx
# Zenodo deposition identifier used for uploading database to Zenodo. For example use 3726935 as identifier for https://zenodo.org/record/3726935.
# Use -1 do disable monthly scheduled updates to Zenodo
ZENODO_DEPOSITION_ID=-1
# Slack notification
# Token of Slack app with chat:write permission in workspace of channel
# Use 'false' to disable notifications
SLACK_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# Channel in which service should post messages
SLACK_CHANNEL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
