
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# Put lots of randomness in these
SHARED_TOKEN=ashdfjhasdlkjfhalksdjhflak
DATADIR=./data
